* {
    margin: 0;
    padding: 0;
}

body {
    justify-content: center;
    display: flex;
    place-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.932);
}

.container {
    justify-content: center;
    display: flex;
}

a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: inline-block;
    padding: 15px 30px;
    text-transform: uppercase;
    overflow: hidden;
    transition: .2s;
    border-radius: 5px;
    border: 2px solid white;
}

a:hover {
    border: none;
    background-color: #010a53;
    box-shadow: 0 0 10px #0011ff, 0 0 40px #0011ff, 0 0 80px #0011ff;
    transition-delay: 1s;
}

a span {
    position: absolute;
    display: block;
}

a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, red);
}

a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(100deg, transparent, red);
}

a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: .25s;
}

a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, red);
}

a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: .5s;
}

a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, red);
}

a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: .75s;
}